* {
	box-sizing: border-box;
}


body {
	background-color: #ffe2b0;
	margin: 0px;
	padding-top: 20px;
}

header {
	text-align: center;
	margin-bottom: 20px;
}

ul {
	text-align: center;
	list-style-type: none;
	padding: 0px;
	margin-bottom: 20px;
}

li {
	display: inline;
	margin: 0 100px 20px 0px;
}

li:last-child {
	margin: 0 0 20px 0;
}

a {
	color: #262626;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

a:hover {
	color: #f15b40;
}

.about {
	position: relative;
	height: 640px;
	background: url(../img/01-cover.jpg) center/cover no-repeat; /*в любом порядке*/
	margin-bottom: 20px;
}

.special_order {
	z-index: 1;
	position: absolute;
	left: 50%;
	top: 54%;
	margin: 0;
	width: 420px;
	height: 190px;
	background: linear-gradient(
		180deg,
		rgba(244, 213, 178, 0.8) 0%,
		rgba(234, 156, 65, 0.8) 100%
	);
	padding-top: 15px;
}

.special_order__border {
	width: 390px;
	height: 160px;
	border: 1px #262626 solid;
	margin: 0 auto;
	padding: 17px 0 0 28px;
	text-align: left;
}

h1 {
	margin: 0;
	font-size: 36px;
	font-family: 'Philosopher', sans-serif;
	margin-bottom: 9px;
}

.special_order__text {
	margin: 0;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.section-description {
	text-align: center;
	margin-bottom: 20px;
}

.section-description__box {
	text-align: center;
}

.section-description__box img {
	margin: 0 76px 20px 0;
}

.section-description__box img:last-child {
	margin-right: 0;
}

/* .section-description__text-box {
} */

.section-description__title {
	margin: 0;
	font-size: 96px;
	font-family: 'Philosopher', sans-serif;
	text-align: center;
}

.section-description__span {
	color: #f15b40;
}

.section-description__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	width: 1000px;
	margin: 0 auto 20px;
}

.section-map {
	margin-bottom: 20px;
}

.section-map__title {
	font-family: 'Philosopher', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 36px;
	margin-bottom: 20px;
}

iframe {
	display: block;
	margin: 0 auto;
}

.line {
	height: 1px;
	width: 1024px;
	margin: 0 auto;
	background-color: #999999;
	margin-bottom: 20px;
}

.list6b {
    padding:0;
    list-style: none;
}
.list6b li{
    padding:6px;
}
.list6b li:before {
    padding-right:10px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\2714";
    transition-duration: 0.5s;
}
.list6b li:hover:before {
    color: #337AB7;
    content: "\2714";
} 

footer {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	height: 80px;
}
